.card-container{
    margin-top: 50px;
    display:flex;
    gap:50px;
    align-items: center;
    

}
.text-title{
    font-size:15px;
}
.image-container{
    flex:1;
    position: relative;
    height: 350px;

}

.card-img{
    object-fit: cover;
}
.text-container{ 
    height: 350px;
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.text-category{
    text-transform: uppercase;
    color:var(--categoryTextColor)
}
.text-detail{
    font-size: 10px;
    display: flex;
    gap: 5px;
}

.text-content{
    font-size:12px;
    overflow-y: hidden;
    max-height: 250px;
    mask-image:linear-gradient(to bottom, black 70%, transparent 100%);
}
.text-btn{
    font-size:10px;
    text-decoration:underline;
    cursor:pointer;
}
.text-btn:hover{
    color:blue
   
}