@import "tailwindcss";

:root{
  --bg:white; 
  --textColor:black; 
  --softBg:white; 
  --softTextColor:#e9e0e0;
  --categoryTextColor: #eb3030;
} 
*{ 
  padding:0; 
  box-sizing:border-box; 
  
} 
body{ 
  max-width:100vw;
  overflow-x:hidden; 
  
 
} 
.container{
  max-width:100vw;
  margin-left:auto;
  margin-right:auto;
  min-height:100vh; 
  color:var(--textColor);
  background-color: var(--bg);
} 
.wrapper{ 
  max-width: 80vw;
  margin-left:auto;
  margin-right:auto;
  padding-left:1em;
  padding-right:1em;
}
.dark{
  --bg:#181d2b;
  --textColor:#ddd;
  --softBg:#1f273a;
  --softTextColor:#a6a6a6;
  --categoryTextColor: #f23535;
}
/*
[data-theme="dark"] {
  --bg: #060911;
  --textColor: #ddd;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
}

[data-theme="light"] {
  --bg: #ffffff;
  --textColor: #000;
  --softBg: #f5f5f5;
  --softTextColor: #333;
}
*/

/*break point for different screen size*/
/*
@media screen and (max-width:1536px){
  .wrapper{
    max-width: 1366px;
  }
}
@media screen and (max-width:1280px){
  .wrapper{
    max-width:1024px;
  }
}
@media screen and (max-width:1024px){
  .wrapper{
    max-width:768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width:768px){
  .wrapper{
    max-width:640px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width:640px){
  .wrapper{
    max-width:480px;
    padding-left: 20px;
    padding-right: 20px;

  }
}
@media screen and (max-width:320px){
  .wrapper{
    max-width:250px;
    

  }
}
@media screen and (max-width:375px){
  .wrapper{
    max-width:300px;
    

  }
}
@media screen and (min-width:425px){
  .wrapper{
    max-width:350px;
    

  }
}*/