.menu-container{
    flex:2;
    margin-top: 50px;
}
.menu-subtitle{
    color:gray;
    font-size: 16px;
    font-weight: 400;
}
.menu-title{
    font-size: 28px;

}
.menu-items{


}
.menu-item{
    display: flex;
    align-items: center;
    gap:20px
}
.item-image-container{
    flex:1;
    position:relative;
    aspect-ratio: 1/1;

}
.item-img{
    border-radius: 50%;
    border:3px solid lightgray;
    object-fit: cover;
}
.item-text-container{
    flex:4;
    display: flex;
    flex-direction: column;
    gap:5px
}
.item-postTitle{
    font-size: 18px;
    font-weight: 500;
    color:var(--softTextColor)
}
.item-detail{
    font-size: 12px;

}
.item-date{
    color:gray
}