.menu-container{
    flex:2;
    margin-top: 50px;
}
.menu-subtitle{
    color:gray;
    font-size: 16px;
    font-weight: 400;
}
.menu-title{
    font-size: 28px;

}
.menu-items{
    margin-top: 35px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 35px;


}
.menu-item{
    display: flex;
    align-items: center;
    gap:20px
}
.item-image-container{
    flex:1;
    position:relative;
    aspect-ratio: 1/1;

}
.category{
    padding:3px 8px;
    border-radius: 10px;
    font-size:12px;
    color:white;
    width:max-content;
}

.category.style{
    
   background-color: rgb(217, 157, 27);
  
}
.category.fashion{
    
   background-color: rgb(41, 155, 121);
  
}
.category.food{
    
   background-color: rgb(189, 62, 200);
  
}
.category.coding{
    
   background-color: rgb(122, 63, 231);
  
}
.category.travel{
    
   background-color: rgb(22, 119, 139);
  
}
.category.culture{
    
   background-color: rgb(157, 108, 36);
  
}
.menu-categoryList{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    width: max-content;
}
.item-img{
    border-radius: 50%;
    border:3px solid lightgray;
    object-fit: cover;
}
.item-text-container{
    flex:4;
    display: flex;
    flex-direction: column;
    gap:5px
}
.item-postTitle{
    font-size: 18px;
    font-weight: 500;
    color:var(--softTextColor)
}
.item-detail{
    font-size: 12px;

}
.item-date{
    color:gray
}